@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --background-muted: #F9F9F9;
  --background-subtle: #F3F4F6;

    /* Typography */
  --font-montserrat: 'Montserrat';

  /* Foreground / Text */
  --foreground: #000000;
  --foreground-muted: #444444;
  --foreground-subtle: #6B7280;
  --foreground-placeholder: #9CA3AF;

  /* Borders */
  --border-default: #E5E7EB;
  --border-muted: #EEEEEE;

  /* Primary (CTA / Buttons) */
  --primary: #121317;
  --primary-foreground: #FFFFFF;

  --hover-primary: #2c2e35;
  --hover-primary-foreground: #FFFFFF;

  --hover-default: #f1f1f1;
  --hover-default-foreground: #121317;


  /* Secondary / Utility */
  --secondary: #F9F9F9;
  --secondary-foreground: #acacac;

  /* Status (future-proofing) */
  --success: #16A34A;
  --warning: #D97706;
  --error: #DC2626;

  /* Spacing */
  --section-padding: 80px 0;
  --container-max: 1200px;
  --container-padding: 0 24px;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-full: 9999px;
}

body {
  font-family: var(--font-montserrat);
  padding:0;
  margin:0; 

}

.ant-btn-primary, 
.ant-btn-primary:focus,
.ant-btn-primary:active {
  background-color: var(--primary) !important;
  color: var(--primary-foreground) !important;
  border-color: var(--primary) !important;
  box-shadow: none !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus:hover {  
  background-color: var(--hover-primary) !important;
  color: var(--hover-primary-foreground) !important;
  border-color: var(--hover-primary) !important;
}

.ant-btn-default:hover,
.ant-btn-default:focus:hover {  
  background-color: var(--hover-default) !important;
  color: var(--hover-default-foreground) !important;
  border-color: var(--hover-default) !important;
}

.ant-table-thead > tr > th {
  background-color: var(--primary) !important;
  color: var(--primary-foreground) !important;
  font-weight: 600 !important;
} 

.ant-pagination-item,
.ant-pagination-prev,
.ant-pagination-next {
  border-radius: var(--radius-sm) !important;
  border-color: var(--border-default) !important;
}

.ant-pagination-item a {
  color: var(--foreground-muted) !important;
}

.ant-pagination-item-active {
  border-color: var(--primary) !important;
  background-color: transparent !important;
}

.ant-pagination-item-active a {
  color: var(--primary) !important;
  font-weight: 600 !important;
}

.ant-pagination-item:hover,
.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  border-color: var(--primary) !important;
}

.ant-pagination-item:hover a,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: var(--primary) !important;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background-color: transparent !important;
}